<div id="main-body">
    <div class="homepage">
        <section id="supportedGames">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-left">
                        <h1>Currently Supported Games</h1>

                        <div class="col-sm-3 supported-games" ng-repeat="game in games">
                            <img ng-src="{{ game.thumbnail }}" class="img-square img-responsive img-left" width="200px">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-left">
                        <h1>Frequently Asked Questions</h1>
                        <ol>
                            <li><h3>What is the current status of the website?</h3>
                                <ul>
                                    <li>We are currently in a open alpha version so your feedback and bug reports will help tremendously!</li>
                                </ul>
                            </li>
                            <li><h3>How does your service work?</h3>
                                <ol>
                                    <li>You signup and determine which games you would like to track.</li>
                                    <li>When adding a game you give us the identifying information we need to get the stats from the game.</li>
                                    <li>Every hour* we reach out to the game provider and get updated stats.</li>
                                    <li>We then store those stats in our database for future reference.</li>
                                </ol></li>

                            <li><h3>Can I request for a game to be added?</h3>
                            <ul><li>Yes. Submit a contact request below and we will take a look at it.
                                If possible, please include a link to the game's API.</li></ul>
                            </li>

                            <li><h3>Will there be a premium service?</h3>
                            <ul>
                                <li>This is currently up in the air depending on how popular the website gets.</li>
                                <li>We were thinking services like on demand updates, graphing over time and such would be great premium features.</li>
                                <li>Have a feature you want? Please let us know by using the contact form below!</li>
                            </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-left">
                        <h1>About Us</h1>
                    </div>
                    <br>
                    <div class="col-sm-3 col-lg-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/tim.jpeg" alt="">
                        <h4>Tim Chen</h4>
                    </div>
                    <div class="col-sm-3 col-lg-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/lyndsee.jpeg" alt="">
                        <h4>Lyndsee Armstrong</h4>
                    </div>
                    <div class="col-sm-3 col-lg-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/jared.jpeg" alt="">
                        <h4>Jared Mackey</h4>
                    </div>
                    <div class="col-sm-3 col-lg-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/jay.jpeg" alt="">
                        <h4>Jay Hamilton</h4>
                    </div>
                </div>
            </div>
        </section>


        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-left">
                        <h1>Contact Us</h1>

                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="comment.name">
                                <br>
                                <label>Email</label>
                                <input type="email" class="form-control" ng-model="comment.email">
                                <br>
                                <label>Comment</label>
                                <input type="text" class="form-control" ng-model="comment.comment">
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>