<div id="register">
    <form ng-controller="RegisterCtrl">
        <label>First Name</label>
        <input type="text" ng-model="user.first_name">
        <br><br>
        <label>Last Name</label>
        <input type="text" ng-model="user.last_name">
        <br><br>
        <label>User Name</label>
        <input type="text" ng-model="user.username">
        <br><br>
        <label>Password</label>
        <input type="password" ng-model="user.password1">
        <br><br>
        <label>Verify Password</label>
        <input type="password" ng-model="user.password2">
        <br><br>
        <label>Email Address</label>
        <input type="email" ng-model="user.email">
        <br><br>
        <button type="submit" ng-click="submit()">Register</button>
    </form>
</div>

<link rel="stylesheet" href="css/register.css">

<form ng-controller="RegisterCtrl">
    <label>First Name</label>
    <input type="text" ng-model="user.first_name">
    <br><br>
    <label>Last Name</label>
    <input type="text" ng-model="user.last_name">
    <br><br>
    <label>User Name</label>
    <input type="text" ng-model="user.username">
    <br><br>
    <label>Password</label>
    <input type="password" ng-model="user.password1">
    <br><br>
    <label>Verify Password</label>
    <input type="password" ng-model="user.password2">
    <br><br>
    <label>Email Address</label>
    <input type="email" ng-model="user.email">
    <br><br>
    <div>
        <button type="submit" ng-click="submit()">Register</button>
        <button type="button" ng-click="closePopOuts()" style="float: right;">Close</button>
    </div>
</form>

