<div id="main-body">
    <section id="welcome-page">
        <div class="dashboard-icons">
            <ul>
                <li>
                     <a href="" ng-click="openGameModal()"><i class="fa fa-plus fa-2x"></i></a>
                </li>
                <li>
                    <a href="" ng-click="openSettings()"><i class="fa fa-cogs fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-left">
                    <h1 ng-show="user.username" class="animate-show">Welcome, {{ user.username }}!</h1>
                    <br>

                    <p ng-if="hasGames">You have these games:</p>
                    <ul>
                        <li ng-repeat="usergame in user.games">
                            <img ng-src="{{ supportedGames[usergame.game.shorthand_name].thumbnail }}"
                                 class="img-square img-responsive img-center" style="width: 350px;height: 180px;">
                            <br ng-if="usergame.game.thumbnail">
                            <a href="#/dashboard/game-detail/{{ usergame.game.shorthand_name }}">{{ usergame.game.name }}</a>
                            <br>
                        </li>
                    </ul>

                    <p ng-if="!hasGames">Oh noes! You have no games! To get started click on the plus sign on the top right.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-left">
                </div>
            </div>
        </div>
    </section>
</div>