body {
    color: white;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 28px;
    line-height: 20px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

#login, #sign-up, #logout, #sidebar-wrapper, #sidebar-wrapper-sm {
    background: #475967;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper-sm {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #2f2b30;
}

.li-arrow a:hover {
    text-decoration: none !important;
    background: rgba(255, 255, 255, 0) !important;
}

#menu-toggle-in-nav {
}

.animate-show {
    opacity: 1;
}

.animate-show.ng-hide {
    opacity: 0;
    display: block;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #dae4e6;
    background: rgba(72, 76, 79, 0.36);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: rgba(47, 43, 48, 0.58);
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #wrapper-sm {
        padding-left: 40px;
    }

    #wrapper-sm.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper-sm {
        width: 40px;
    }

    #wrapper-sm.toggled #sidebar-wrapper-sm {
        width: 0;
    }

}

section {
    background-color: #edb300;
    padding: 30px
}

#homepage {
    margin-top: 52px;
}

#logout {
    position: fixed;
    left: -350px;
    height: 100%;
    width: 275px;
    color: #3e3b40;
    transition: left .2s ease-in-out;
    z-index: 1;
}

#logout.show {
    left: 200px;
}



#login {
    position: fixed;
    left: -300px;
    height: 100%;
    width: 275px;
    color: #2f2b30;
    transition: left .2s ease-in-out;
    z-index: 1;
}

#login.show {
    left: 200px;
}

#login.h3 {
    font-family: sans-serif;
    font-size: 22px;
    padding: 5px;
    margin: 20px;

}

#login.p {
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px;
    margin: 20px;
}

#sign-up {
    position: fixed;
    left: -300px;
    height: 100%;
    width: 275px;
    color: #2f2b30;
    transition: left .2s ease-in-out;
    z-index: 1;
}

#sign-up.show {
    left: 200px;
}

form {
    padding: 15px;
}

label {
    float: left;
    margin-right: 5px;
}

.btn-flt-right {
    float: right;
}

.bring-button-down {
    margin-top: 50px;
}

#menu-toggle-in-nav {
    margin-right: 125px;
    margin-left: -60px;
    float: left;
    left: 60px;
    bottom: 50%;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#menu-toggle-in-nav-sm {
    color: #3e3b40;
    margin: auto;
    left: 5px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-toggle-in-nav-sm:hover {
    color: white;
    background: rgba(255, 255, 255, 0);
}

#main-body {
    min-width: calc(100% + 200px);
    min-width: -moz-calc(100% + 200px);
    min-width: -webkit-calc(100% + 200px);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#main-body.toggled {
    margin-left: 40px;
}

#main-body.toggledPopOut {
    padding-left: 470px;
}

#main-body. welcome-page li {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #dae4e6;
}

.form-group {
    padding-right: 60px;
}

h1 {
    color: #EDB300;
}

li > h3 {
  color: rgb(237, 156, 61);
}

.modal {
    color: #000;
}

#supportedGames, #about {
    background-color: #484C4F;
}

#supportedGames h1 {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
}


#supportedGames h4 {
    color: #d6d6d6;
}

#about h1 {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #edb300;
}

#faq, #contact {
    background-color: #595A56;
}

#contact label {
    color: #d6d6d6;
}

#welcome-page {
    background-color: #484c4f;
}

#welcome-page h1 {
    color: #edb300;
}

#welcome-page li a {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #dae4e6;
    align-content: center;
}

#welcome-page p {
    color: #dae4e6;
}

#confirm-email {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #484c4f;
}

#confirm-email h1 {
    color: #D6D6D6;
}

#confirm-email h1 a {
    color: #edb300;
}

.dashboard-icons {
    float: right;
}

.dashboard-icons li {
    list-style: none;
    display: block;
    float: left;
    padding-right: 1em;
}

#LOL-stats {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #484c4f;
    color: #dae4e6
}

#LOL-stats label {
    color: #dae4e6
}

#LOL-stats ul {
    color: #edb300
}

#LOL-stats h2 {
    color: #edb300
}

#LOL-stats h4 {
    color: #16b7c2
}

#LOL-final-stats h4 {
    color: #dae4e6
}

#SC2-stats {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #484c4f;
    color: #dae4e6
}

#SC2-stats label {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #484c4f;
    color: #edb300
}

.supported-games {
    height: 100px;
}

.supported-games img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}




