#logout {
    position: fixed;
    top: 52px;
    left: -350px;
    height: 100%;
    background-color: #000;
    color: #999;
    transition: left .5s ease-in-out;
    z-index: 1;
}

#logout.show {
    left: 250px;
}