h3 {
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px;
    margin: 20px;
}

p {
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px;
    margin: 20px;
}

button {
    padding: 5px;
    margin: 20px;
}